name: Run GDS integration tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: ["main"]
  # Skip on this check PR to reduce number of AuraDS instances created

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  tests:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os}}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    defaults:
      run:
        working-directory: python-wrapper

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v4

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.11"
          enable-cache: true
      - run: uv sync --extra dev --extra pandas --extra neo4j --extra gds --extra snowflake

      - name: Run tests
        env:
          AURA_API_CLIENT_ID: 4V1HYCYEeoU4dSxThKnBeLvE2U4hSphx
          AURA_API_CLIENT_SECRET: ${{ secrets.AURA_API_CLIENT_SECRET }}
          AURA_API_TENANT_ID: eee7ec28-6b1a-5286-8e3a-3362cc1c4c78
        run: uv run pytest tests/ --include-neo4j-and-gds
