*.egg-info
__pycache__
build
dist

# Should we ignore the following?
src/neo4j_viz/resources/nvl_entrypoint/*
!src/neo4j_viz/resources/nvl_entrypoint/base.js
!src/neo4j_viz/resources/nvl_entrypoint/styles.css
!src/neo4j_viz/resources/nvl_entrypoint/__init__.py
